<!DOCTYPE html>
@model IEnumerable<Client>
<html>
<head>
    <style>
        table {
            font-family: Tahoma, sans-serif;
            border-collapse: collapse;
            width: 100%;
            font-size: .8em
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .n {
            font-size: 15px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        @if (User.Identity.IsAuthenticated)
        {
            <a style="color: white;">@User.Identity.Name</a>
            <a asp-controller="Home" asp-action="IndexMain">&#9668</a>
            <a asp-controller="Sellreport" asp-action="Date">Отчет по услугам</a>
            <a asp-controller="Moneyreport" asp-action="Date">Отчет по поступлениям</a>
            <a asp-controller="Account" asp-action="Logoutt">Выход</a>
            <!--<form method="post" asp-controller="Account" asp-action="Logout" class="right">
            <input type="submit" value="Выход" /></form>-->

        }
        else
        {
            <a asp-controller="Account" asp-action="Login" class="right">Вход</a>
            <a asp-controller="Account" asp-action="Register" class="right">Регистрация</a>
        }




    </div>

    <h3 class="p-2 bg-hsl(0, 0%, 20%) text-dark text-center">Отчет об оказанных услугах</h3>
    <div class="text-center">
        Период c  @ViewBag.DateS.ToString("d") по  @ViewBag.DateF.ToString("d")
    </div>
    <table>

        <tr class="p-2 bg-secondary text-white text-center">
            <th>Контрагент</th>
            <th>Номер акта</th>
            <th>Дата</th>
            <th>Услуга</th>
            <th>Количесто ч/часов</th>
            <th>Стоимость 1 ч/часа, бел.руб.</th>
            <th>Сумма без НДС, бел.руб.</th>
            <th>Ставка НДС %</th>
            <th>Сумма  НДС, бел.руб.</th>
            <th>Сумма с НДС, бел.руб.</th>
        </tr>
        <tr>
            @{ double counter = 0; }
            @if (Model != null)
            {
                @foreach (var s in Model.OrderBy(s => s.Name))
                {
                <tr>

                    <th>@s.Name</th>

                </tr>
                @if (s.Acts != null)
                {
                    @foreach (var p in s.Acts)
                    {
                        @if (@p.Date >= @ViewBag.DateS & @p.Date <= @ViewBag.DateF)
                        {
                            <tr class="table-dark">
                                <th></th>
                                <th>@p.Number</th>
                                <th>@p.Date</th>

                            </tr>
                            @foreach (var l in p.Lines)
                            {
                                <tr class="table-dark">
                                    <th></th>
                                    <th></th>
                                    <th></th>

                                    <th>@l.Service.Text</th>
                                    <th>@l.Quantity</th>
                                    <th>@l.Service.Summ</th>
                                    <th>@(@l.Service.Summ * @l.Quantity)</th>
                                    <th>@l.Service.Vat</th>
                                    <th>@(@l.Service.Summ * @l.Quantity * @l.Service.Vat / 100)</th>
                                    <th>@(@l.Service.Summ * @l.Quantity * @l.Service.Vat / 100 + @l.Service.Summ * @l.Quantity)</th>
                                </tr>
                                counter += @l.Service.Summ * @l.Quantity * @l.Service.Vat / 100 + @l.Service.Summ * @l.Quantity;
                            }
                        }
                    }

                }
            }
            }



            <tr>
                <td colspan="8"></td>
                <td><strong>Всего:</strong></td>
                <td><strong>@counter бел. руб</strong></td>
            </tr>
        </table>

    </body>
</html>